h1 {
  font-size: 100px;
}

.main {
  margin-top: 12rem;
}

.projects {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: space-evenly;

  .box {
    box-sizing: border-box;
    width: calc(30%);
    border: solid 1px #000;
    height: 300px;
    margin: 1rem 0;
  }
}

